node red flow .json
[{"id":"62af24ca.6e692c","type":"tab","label":"life_prediction","disabled":false,"info":""},{"id":"83485d89.8777b","type":"function","z":"62af24ca.6e692c","name":"PreToken","func":"global.set(\"Country\",msg.payload.Country)\nglobal.set(\"Year\",msg.payload.Year)\nglobal.set(\"Status\",msg.payload.Status)\nglobal.set(\"Adult_Mortality\",msg.payload.Adult_Mortality)\nglobal.set(\"infant_deaths\",msg.payload.infant_deaths)\nglobal.set(\"Alcohol\",msg.payload.Alcohol)\nglobal.set(\"percentage_expenditure\",msg.payload.percentage_expenditure)\nglobal.set(\"Hepatitis_B\",msg.payload.Hepatitis_B)\nglobal.set(\"Measles\",msg.payload.Measles)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"under_five_deaths\",msg.payload.under_five_deaths)\nglobal.set(\"Polio\",msg.payload.Polio)\nglobal.set(\"Total_expenditure\",msg.payload.Total_expenditure)\nglobal.set(\"Diphtheria\",msg.payload.Diphtheria)\nglobal.set(\"HIV_or_AIDS\",msg.payload.HIV_or_AIDS)\nglobal.set(\"GDP\",msg.payload.GDP)\nglobal.set(\"Population\",msg.payload.Population)\nglobal.set(\"thinness_1to19_years\",msg.payload.thinness_1to19_years)\nglobal.set(\"thinness_5to9_years\",msg.payload.thinness_5to9_years)\nglobal.set(\"Income_composition_of_resources\",msg.payload.Income_composition_of_resources)\nglobal.set(\"Schooling\",msg.payload.Schooling)\nvar apikey=\"U2S6EMg_e4yzqQtomFTjygOoGg0F-j_zaQt05OjW3xz4\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":240,"wires":[["1a055686.577d19"]]},{"id":"1a055686.577d19","type":"http request","z":"62af24ca.6e692c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":490,"y":320,"wires":[["7a106cf8.0e5a84"]]},{"id":"374f275c.cd72b8","type":"inject","z":"62af24ca.6e692c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["83485d89.8777b"]]},{"id":"369b7e38.6b9702","type":"debug","z":"62af24ca.6e692c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":100,"wires":[]},{"id":"7a106cf8.0e5a84","type":"function","z":"62af24ca.6e692c","name":"Pre Prediction","func":"var a = global.get(\"Country\")\nvar b = global.get(\"Year\")\nvar c = global.get(\"Status\")\nvar d = global.get(\"Adult_Mortality\")\nvar e = global.get(\"infant_deaths\")\nvar f = global.get(\"Alcohol\")\nvar g = global.get(\"percentage_expenditure\")\nvar h = global.get(\"Hepatitis_B\")\nvar i = global.get(\"Measles\")\nvar j = global.get(\"BMI\")\nvar k = global.get(\"under_five_deaths\")\nvar l = global.get(\"Polio\")\nvar m = global.get(\"Total_expenditure\")\nvar n = global.get(\"Diphtheria\")\nvar o = global.get(\"HIV_or_AIDS\")\nvar p = global.get(\"GDP\")\nvar q = global.get(\"Population\")\nvar r = global.get(\"thinness_1to19_years\")\nvar s = global.get(\"thinness_5to9_years\")\nvar t = global.get(\"Income_composition_of_resources\")\nvar u = global.get(\"Schooling\")\nvar token=msg.payload.access_token\nvar instance_id=\"1db90e33-fc79-46bb-a8cb-1cb95a32fcd6\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":716.0000076293945,"y":351.9999990463257,"wires":[["b621b3f5.9eed2"]]},{"id":"b621b3f5.9eed2","type":"http request","z":"62af24ca.6e692c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/456d4654-8163-4aa1-a9a5-6ce8a66d8bd6/predictions","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":280,"wires":[["4eb7f8d8.7f1a28"]]},{"id":"9370b0be.eea26","type":"ui_text","z":"62af24ca.6e692c","group":"9c38f81d.ecb8f8","order":1,"width":0,"height":0,"name":"","label":"life_expectancy","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":200,"wires":[]},{"id":"4eb7f8d8.7f1a28","type":"function","z":"62af24ca.6e692c","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["369b7e38.6b9702","9370b0be.eea26"]]},{"id":"7e8fdf47.1363d","type":"ui_form","z":"62af24ca.6e692c","name":"","label":"","group":"9c38f81d.ecb8f8","order":0,"width":"6","height":"22","options":[{"label":"Country","value":"Country","type":"text","required":true,"rows":null},{"label":"Year","value":"Year","type":"number","required":true,"rows":null},{"label":"Status","value":"Status","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"Adult_Mortality","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"infant_deaths","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"Alcohol","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"percentage_expenditure","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"Hepatitis_B","type":"number","required":true,"rows":null},{"label":"Measles","value":"Measles","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"under_five_deaths","type":"number","required":true,"rows":null},{"label":"Polio","value":"Polio","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"Total_expenditure","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"Diphtheria","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"HIV_or_AIDS","type":"number","required":true,"rows":null},{"label":"GDP","value":"GDP","type":"number","required":true,"rows":null},{"label":"Population","value":"Population","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"thinness_1to19_ years","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"thinness_5to9_years","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"Income_composition_of_resources","type":"number","required":true,"rows":null},{"label":"Schooling","value":"Schooling","type":"number","required":true,"rows":null}],"formValue":{"Country":"","Year":"","Status":"","Adult_Mortality":"","infant_deaths":"","Alcohol":"","percentage_expenditure":"","Hepatitis_B":"","Measles":"","BMI":"","under_five_deaths":"","Polio":"","Total_expenditure":"","Diphtheria":"","HIV_or_AIDS":"","GDP":"","Population":"","thinness_1to19_ years":"","thinness_5to9_years":"","Income_composition_of_resources":"","Schooling":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":90,"y":320,"wires":[["83485d89.8777b"]],"icon":"node-red/file.svg"},{"id":"9c38f81d.ecb8f8","type":"ui_group","z":"","name":"Life_prediction_of_country","tab":"dbf5e64a.e895f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"dbf5e64a.e895f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]